<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>be.gdoc.quicklook</string>
			<key>UTTypeDescription</key>
			<string>Google Document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gdoc</string>
					<string>gsheet</string>
					<string>gform</string>
					<string>gdraw</string>
					<string>gslides</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
